{% extends 'base.html.twig' %}

{% block title %}Season index{% endblock %}

{% block body %}
<div class="container">
    <h1>Season index</h1>
      {% for category , messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{category}}">
            {{message}}
            </div>

        {% endfor %}
    {% endfor %}

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Number</th>
                <th>Year</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for season in seasons %}
            <tr>
                <td>{{ season.id }}</td>
                <td>{{ season.number }}</td>
                <td>{{ season.year }}</td>
                <td>{{ season.description }}</td>
                <td>
                    <a href="{{ path('app_season_show', {'id': season.id}) }}" class="btn btn-primary mb-1">show</a>
                    <a href="{{ path('app_season_edit', {'id': season.id}) }}" class="btn btn-info">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_season_new') }}">Create new</a>
    </div>
{% endblock %}
