{% extends './base.html.twig' %} {% block title %}Série #{{ program.id }}{% endblock %} 
{% block body %} 
<div class="container">
    <div class="card text-center">
        <div class="card-header">
            {{program.title}}
        </div>
        <div class="card-body">
            <img src="{{ asset('build/images/image.png') }}" alt="" class="card-img-top w-50 ">
            <p class="card-text"> {{program.synopsis}} </p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
            <div class="btn-group" role="group">
                {% for season in program.seasons %}
                <a href="{{ path('program_season_show',{'program':program.id,'season':season.id}) }}" class="btn btn-secondary">Season {{ season.number }}</a> {% endfor %}
            </div>

        </div>
        <div class="card-footer text-info  ">
            2days ago
        </div>
    </div>
</div>

{% endblock %}